body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 18px;
}

.navbar-brand{
    font-size: 1.5em;    
    font-weight: 500;
    letter-spacing: 0.05em;
}

.navbar .navbar-toggler{
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}

.nav-link{
    font-size: 20px;
    letter-spacing: 0.1em;
    color: whitesmoke;
}

a.nav-link:hover{
    color: gray;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.hero-img{
    background-image: url("../images/heroimg.jpg");
    background-repeat: none;
    background-position: center;
    height: 85vh;
    background-size: cover;
}

.hero-message{
    color: whitesmoke;
    text-align: center;
    position: relative;
    top: 30%;
}

.modal-content{
    background-color: rgb(52,58,64, 0.8);
}

.block-input{
    display: block;
    width: 100%;
    margin: 8px 0px;
    text-align: left;
}

.block-label{
    display: block;
    text-align: justify;
}

.inline-block{
    display: inline-block;
    margin: 0px;
    text-align: justify;
}

.inline-block-label{
    width: 95%;
    display: inline-block;
    text-align: justify;
    vertical-align: top;
}

.col-header>h3{
    display: inline-block;
    letter-spacing: 2px;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 24px;
}

.col-header>p{
    display: inline-block;
    letter-spacing: 2px;
    font-size: 16px;
}

.event-image{
    width: inherit;
    object-fit: cover;
    height: 55%;
}

@media only screen and (max-width: 720px){
    .event-image{
        height: 40%;
    }
}

.card-description{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    background-color: whitesmoke;
    padding: 0px;
    letter-spacing: 2px;
    margin: 2px 2px;
}
.card-description>h5{
    text-align: center;
    padding-top: 5px;
    letter-spacing: 2px;
}

.card-description>p{
    text-align: center;
    margin-bottom: 4px;
    font-size: 18px;
}

.footer{
    margin-top: 20px;
}
.footer-social{
    text-align: center;
}
.footer-social li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 10px;
}

.footer-social>ul{
    padding-left: 0px;
}

/*.footer-li>a:active {
    color: gray;
}

.footer-li > a :hover{
    color: gray;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}*/

.copyright{
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
}

.copyright>a:active{
    text-decoration: none;
}