body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 18px;
}

.navbar-brand{
    font-size: 1.5em;    
    font-weight: 500;
    letter-spacing: 0.05em;
}

.navbar .navbar-toggler{
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}

.nav-link{
    font-size: 20px;
    letter-spacing: 0.1em;
    color: whitesmoke;
}

a.nav-link:hover{
    color: gray;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.hero-img{
    background-image: url("../images/heroimg.jpg");
    background-repeat: none;
    background-position: center;
    height: 85vh;
    background-size: cover;
}

.hero-message{
    color: whitesmoke;
    text-align: center;
    position: relative;
    top: 30%;
}

.modal-content{
    background-color: rgb(52,58,64, 0.8);
}

.block-input{
    display: block;
    width: 100%;
    margin: 8px 0px;
    text-align: left;
}

.block-label{
    display: block;
    text-align: justify;
}

.inline-block{
    display: inline-block;
    margin: 0px;
    text-align: justify;
}

.inline-block-label{
    width: 95%;
    display: inline-block;
    text-align: justify;
    vertical-align: top;
}